.idea/
.idea

LectPY/.obsidian/
LectPY/.obsidian/workspace.json
LectPY/.obsidian/core-plugins.json
LectPY/.obsidian/app.json
LectPY/.obsidian/app.asar
LectPY/.obsidian/app.asar.unpacked
LectPY/.obsidian/app.asar.unpacked/
LectPY/.obsidian/app.asar.unpacked/resources/
LectPY/.obsidian/app.asar.unpacked/resources/app.asar
LectPY/.obsidian/app.asar.unpacked/resources/app.asar.unpacked

.idea/.gitignore

.idea/Pract_1.iml

.idea/inspectionProfiles/profiles_settings.xml


.idea/modules.xml

.idea/vcs.xml

pract_7/.idea/inspectionProfiles/profiles_settings.xml
pract_7/.idea/
pract_7/.idea
pract_7/.idea/pract_7.iml
pract_7/.idea/inspectionProfiles/profiles_settings.xml
pract_7/project_template/data/sample.csv
pract_7/project_template/data/sample.txt


pract_1/Butyrin_Artem_1.docx

pract_1/how_to_add_a_local_project_to_a_remote_github_repository.pdf

pract_1/pract_work_1.pdf
