.idea/

.idea/inspectionProfiles/profiles_settings.xml

pract_7/.idea/inspectionProfiles/profiles_settings.xml
pract_7/.idea/pract_7.iml

.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml

pract_7.iml
inspectionProfiles/profiles_settings.xml